# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local
.env.development

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vs/
*.swp
*.swo

# Temporary files
*.tmp
*.log
.cache/

# Astro specific
.vercel
.netlify
.turbo
