---
import "../styles/global.css";

import Sidebar from "@/layouts/sidebar.astro";
import CalendarHeader from "@/layouts/calendar/calendar-header.astro";
import Calendar from "@/layouts/calendar/calendar.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Calendar</title>
	</head>

	<body class="font-sans">
		<div class="bg-black flex h-screen p-4">
			<Sidebar />
			<div class="p-1"></div>
			<div class="bg-white rounded-3xl flex flex-col h-full">
				<CalendarHeader />
				<Calendar />
			</div>
		</div>
	</body>
</html>
