---
import { ReactToggleGroup } from "@/components/ui/react-toggle-group";
import CalendarBannerDay from "@/components/calendar-banner-day.astro";
import DaySelector from "@/components/day-selector.astro";
---

<div class="p-6 flex-col">
    <div class="flex flex-row justify-between items-center">
        <div class="text-2xl font-normal">May, 2025</div>
        <ReactToggleGroup client:load />
        <DaySelector />
    </div>
    <div class="p-4"></div>
    <div class="flex gap-4 justify-between">
        <img
            src="assets/icons/calendar-03.svg"
            alt="calendar"
            class="pl-2 pr-6"
        />
        <CalendarBannerDay />
    </div>
</div>
