---
import { Separator } from "@/components/ui/separator";

const generateHours = () => {
    const result = [];
    for (let i = 6; i <= 24; i++) {
        const hour = i > 12 ? i - 12 : i;
        const period = i >= 12 ? "pm" : "am";
        result.push({ hour, period });
    }
    return result;
};

const hours = generateHours();
---

<style>
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }
    
    .hide-scrollbar::-webkit-scrollbar {
        display: none;             /* Chrome, Safari and Opera */
    }
</style>

<div class="flex-1 flex flex-col bg-gray-100 overflow-y-auto hide-scrollbar">
    <Separator />
    <div class="py-12 px-4">
        {
            hours.map((time) => (
                <>
                    <div class="flex flex-row items-center">
                        <span class="whitespace-nowrap">{`${time.hour} ${time.period}`}</span>
                        <div class="p-4" />
                        <Separator />
                    </div>
                    <div class="h-18" />
                </>
            ))
        }
    </div>
</div>
