---

---

<div class="flex flex-row gap-2">
    <div class="bg-gray-100 rounded-xl p-2 w-12 h-12 flex items-center justify-center">
        <img class="w-4 h-4" src="assets/icons/arrow-left.svg" alt="arrow-left" />
    </div>
    <div class="bg-gray-100 rounded-xl px-8 py-3 flex items-center justify-center">
        <div class="text-base font-bold">Today</div>
    </div>
    <div class="bg-gray-100 rounded-xl p-2 w-12 h-12 flex items-center justify-center">
        <img class="w-4 h-4" src="assets/icons/arrow-right.svg" alt="arrow-right" />
    </div>
</div>
