---
// Day card component for calendar banner
interface Props {
  isSelected?: boolean;
  day?: string;
  date?: string;
  id?: string;
}

const { isSelected = false, day = "Monday", date: dayInMonth = "17", id = crypto.randomUUID() } = Astro.props;
---

<div id={id} class={`h-24 w-36 rounded-xl cursor-pointer ${isSelected ? 'bg-zinc-900' : 'bg-gray-100'} transition-colors duration-300`}>
    <div class="flex flex-col items-center justify-center h-full">
        <div class={`text-base font-normal ${isSelected ? 'text-white' : 'text-black'}`}>
            {day}
        </div>
        <div class={`text-3xl font-bold ${isSelected ? 'text-white' : 'text-black'}`}>
            {dayInMonth}
        </div>
    </div>
</div>